@media screen and (max-width:550px){
    body{
        width:550px;
        border-right-color:1px solid rgb(150, 111, 60);
        
        margin:0;
        background-color:rgb(227, 243, 230);
    }
    #p1{
        height:310px;
        position:relative;
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    #image,img{
        height:300px;
        width:550px;
        object-fit:cover;
        
        position:absolute;
    }
    #text{
        text-align: center;
        padding-top:70px;
        
        
        font-size:18;
        color:aliceblue;
        position:absolute;
    }
    p{
        font-size:1.1rem;
        text-indent:30px;
        
    }
    #p2{
        max-width:96%;
        margin:0 auto;
    }
    #p3{
        max-width:96%;
        margin:0 auto;
    }
    #p3 h2{
        text-align:center;
        padding-top:20px;
        
    }
    /* .v_row{
        
        
        
        max-width: 100%; 
        margin:0 auto;
        
        
    } */
    .v_box{
        margin-top:30px;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    
    .v_box img{
        width:530px;
        
        height:180px;
        border-radius:15px;
        
    }
    
    .v_box .show{
        text-align: center;
        
    }
    .v_box .show{
        font-size: 20px;
        
    }
    .show{
       padding-top:200px;
    }
    
    .v_box .show:hover{
        background-color:lightgray;
    }
    .v_box .hide{
        display:none;
        
        justify-self: center;
        
    }
    
    /* .v_box .show:hover .hide{ 
        display:block;
        background-color:lightgray;
        border-radius: 20px;
        
    } */
     
     .v_box:hover .hide{
        
        display:block;
        background-color:lightgray;
        border-radius: 10px;
    }
    .v_box:hover .show{
        
        /* display:block; */
        background-color:lightgray;
        border-radius: 10px;
    }
    #p4{
        text-align: center;
        background-color: rgb(209, 211, 211);
        padding:8px;
        margin-top:30px;
        
    }


}

@media screen and (min-width:560px){
    body{
        max-width:1440px;
        width:100%;
        
        padding:0;
        margin:0;
        background-color:rgb(227, 243, 230);
    }
    #p1{
        height:400px;
        position:relative;
        display:flex;
        flex-direction:column;
        align-items: center;
        
        
    }
    img{
        height:400px;
        width:100%;
        
        object-fit:cover;
        position:absolute;
    }
    #text{
        text-align:center;
        max-width:500px;
        padding-top:120px;
        font-size:24;
        color:aliceblue;
        position:absolute;
    }
    p{
        font-size:1.1rem;
        text-indent:30px;
        
    }
    #p2{
        max-width:96%;
        margin:0 auto;
    }
    #p3{
        max-width:96%;
        margin:0 auto;

    }
    #p3 h2{
        text-align:center;
        padding-top:30px;
        padding-bottom:15px;
    }
    .v_row{
        
        display: table;
        
        width: 100%; 
        margin:0 auto;/*Optional*/
        table-layout:fixed; /*Optional*/
        border-spacing: 20px; /*Optional*/
    }
    .v_box{
        max-width:33%;
        
        display:table-cell;
        height:200px;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    
    .v_box img{
        width:30%;
        
        height:180px;
        border-radius:15px;
        
        
    
    
    }
    .heading {
        
        text-decoration: none;
        color:black;
        
    }
    .v_box .show{
        margin-top:190px;
        text-align: center;
        
        
    }
    .v_box .show{
        font-size: 20px;
        
    }
    .v_box .show:hover{
        background-color:lightgray;
    }
    .v_box .hide{
        display:none;
        
        justify-self: center;
        
    }
    
    /* .v_box .show:hover .hide{ 
        display:block;
        background-color:lightgray;
        border-radius: 20px;
        
    } */
     
     .v_box:hover .hide{
        width:100%;
        display:block;
        background-color:lightgray;
        border-radius: 10px;
    }
    .v_box:hover .show{
        
        display:block;
        background-color:lightgray;
        border-radius: 10px;
    }
    #p4{
        text-align: center;
        background-color: rgb(209, 211, 211);
        padding:12px;
        margin-top:15px;
    }

}